body {
    margin: 0pt;
    /*overflow-x: hidden;*/
}

#top {
    width: 200vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

#score-list {
    font-family: sans-serif;
    font-size: 12pt;
    user-select: none;
    cursor: default;
    width: 100vw;
    overflow-y: scroll;
    padding-top: 3em;
    padding-left: 3em;    
}

.score-state {
    font-size: 8pt;
    width: 1.5em;
}

.score-author {
    padding-left: 2em;
}

.score {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

