body {
    margin: 0pt;
    overflow-x: hidden;
}

#top {
    width: 1000000vw; /* ??? */
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
}

#score-list {
    font-family: sans-serif;
    font-size: 12pt;
    text-align: left;
    user-select: none;
    cursor: default;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    overflow-y: scroll;
}

th {
    padding-bottom: 1ex;
}

#score-list-table {
    /*width: 100%;*/
}

.score-state {
    font-size: 8pt;
    width: 2em;
}

.score-subtitle {
    padding-left: 3em;
}

.score-author {
    padding-left: 3em;
}

/* each score has its own container to maintain separate scroll position */
.score {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
}

.score-closer {
    height: 0em;
    align-self: flex-start;
    margin-left: 0.8em;
    margin-top: 0.7em;
    user-select: none;
    cursor: default;
}
